* {
    margin: 0px;
}


#editor-1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#find {
    background-color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
    width: 200px;
    display: inline-block;
    visibility: hidden;

}

#find-txt {
    font-size: 10px;
    height: 10px;
    width: 80px;
}

.find-btn {
    font-weight: bold;
    font-size: 8px;
    position: relative;
    background-color: transparent;
    border: none;
    right: 0;
}

.find-btn:hover {
    border-radius: 2px;
    background-color: rgba(0, 0, 255, 0.2);
}

#replace {
    position: absolute;
    background-color: white;
    padding-top: 2px;
    right: 10px;
    top: 50px;
    height: 20px;
    width: 220px;
    display: inline-block;
    font-size: x-small;
    /* visibility: hidden; */
}

#replace-txt{
    font-size: 10px;
    height: 10px;
    width: 80px;
}

#goto {
    position: absolute;
    background-color: white;
    padding-top: 2px;
    right: 10px;
    top: 90px;
    height: 20px;
    width: 150px;
    display: inline-block;
    font-size: x-small;
    visibility: hidden;
}

#line-num {
    font-size: 10px;
    height: 10px;
    width: 80px;
}