* {
    margin: 0px;
}


#editor-1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 250px;
    right: 0;
}

#find {
    background-color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
    width: 200px;
    display: inline-block;
    visibility: hidden;

}

#find-txt {
    font-size: 10px;
    height: 10px;
    width: 80px;
}

.find-btn {
    font-weight: bold;
    font-size: 8px;
    position: relative;
    background-color: transparent;
    border: none;
    right: 0;
}

.find-btn:hover {
    border-radius: 2px;
    background-color: rgba(0, 0, 255, 0.2);
}

#replace {
    position: absolute;
    background-color: white;
    padding-top: 2px;
    right: 10px;
    top: 50px;
    height: 20px;
    width: 220px;
    display: inline-block;
    font-size: x-small;
    visibility: hidden;
}

#replace-txt{
    font-size: 10px;
    height: 10px;
    width: 80px;
}

#goto {
    position: absolute;
    background-color: white;
    padding-top: 2px;
    right: 10px;
    top: 90px;
    height: 20px;
    width: 150px;
    display: inline-block;
    font-size: x-small;
    visibility: hidden;
}

#line-num {
    font-size: 10px;
    height: 10px;
    width: 80px;
}


#left-bar {
    position: fixed;
    width: 50px;
    height: 100%;
    text-align: center;
    background-color: #010101;
}

#icon-btn{
    width: 50px;
    border: none;
    background-color: transparent;
    border: none;
}


#img-btn {
    margin-top: 10px;
    width: 45px;
    height: auto;
    background-color: transparent;
}

#file-exe {
    position: fixed;
    top: 20px;
    left: 50px;
    bottom: 0px;
    width: 200px;
    background-color: #1c1c1c;
    color: white;
    overflow: auto;
}

.file-btn {
    background-color: transparent;
    border: none;
    width: 100%;
    color: white;
}

.file-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


::-webkit-scrollbar{
    width: 5px;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 15px;
    background-color: rgba(225, 225, 255, 0.4);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(225, 225, 225, 0.8);
}



#top-bar {
    background-color: black;
    position: fixed;
    width: 200px;
    height: 20px;
    color: white;
    text-align: center;
    left: 50px;
}

.bar-btn {
    background-color: transparent;
    border: none;
    color: white;
}

.name-inp{
    width: 195px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}


.folder-btn{
    width: 100%;
    background-color: rgba(80, 250, 123, 1);
    border: none;
}

#one-level-up {
    position: relative;
    z-index: 5;
    left: 50px;
    top: 20px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    border-radius: 5px;
}

#one-level-up:hover {
    background-color: rgba(255, 255, 255, 0.5);
}